.weather-app {
  border: 3px solid;
  padding: 20px;
  border-radius: 8px;
  border-color: #b7d8f7;
  background: #f8fcff;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-temperature img {
  margin-right: 10px;
}
.units {
  font-size: 15px;
  position: relative;
  top: 10px;
}
.form {
  width: 300px;
  height: 40px;
}
.search-form {
  text-align: center;
}
.button {
  position: relative;
  top: -2px;
}

h1 {
  margin-bottom: 0;
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5a6276;
  font-size: 15px;
}
.temperature {
  font-size: 2.5rem;
}
small {
  color: #5a6276;
}
h3 {
  font-size: 15px;
}
